html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #35363a;
}
main {
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  text-align: left;
  background-color: lightgray;
}
footer {
  text-align: center;
  background-color: grey;
  color: #eaf6f6;
  height: 50px;
  padding-top: 15px;
  bottom: 0;
  width: 1200px;
}

#title,
#commentBoard,
.container {
  padding: 25px 50px;
}
#greeting {
  padding-left: 50px;
}
#linkList {
  width: 200px;
}
.col-8,
.col-4 {
  overflow: auto;
}
#entrance {
  padding: 30px;
}

#languages img,
#stacks img,
#linkIcons img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  text-align: center;
}
.commentBox {
  border: 1px solid grey;
  padding: 20px 20px 15px;
}
/*
* {
    border: 1px solid red;
}
*/
