html {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
main{
    margin:0 auto;
    width:1000px;
    text-align: left;
}
#edu{
    margin-top: 50px;
}
#greeting,#title {
    margin-top: 50px;
    margin-left: 60px;
}
#bonus{
    margin-top: 50px;
    margin-left: 60px;
}
#links{
    width: 200px;
}
#languages img,#stacks img,#linkicon img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    text-align: center;
}