html {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
main{
    align-self: center;
}
#edu{
    margin-top: 50px;
}
#greeting,#title {
    margin-top: 50px;
    margin-left: 60px;
}
#bonus{
    margin-top: 50px;
    margin-left: 60px;
}
#links{
    width: 200px;
}
